<div class="container-wrapper">
 <div class="wrapper-p">
    <p class="answer"><%= @answer %></p>
    <img class="popey" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRvPTD4IcFdpfitesVL_iHdrYKUKmBIEJQfk9qaiQQJo0gWrmdcg" alt="">
    <p class="submit-button"><%= link_to 'New question', ask_path %></p>

 </div>
  </div>
