<h1>Are you ready for SPORT!!!!</h1>

<div class="container-wrapper">
  <div class="wrapper">

    <img src="https://askaway.es/wp-content/uploads/2016/06/askaway-logo.svg" alt="">
    <form class="form-controll" action="/answer" method="get">
      <input class="question" type="text" name="question">
      <input class="btn btn-primary btn-lg"type="submit" value="Ask!">
    </form>
  </div>
</div>
